openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://brida.haidarrahman.my.id'
paths:
  /api/kategoris:
    get:
      summary: ''
      operationId: getApiKategoris
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Daftar Kategori'
                  data:
                    -
                      nama_kategori: Alat
                      slug_kategori: alat
                      tipe_kategori: inovasi
                    -
                      nama_kategori: Pendidikan
                      slug_kategori: pendidikan
                      tipe_kategori: riset
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Daftar Kategori'
                  data:
                    type: array
                    example:
                      -
                        nama_kategori: Alat
                        slug_kategori: alat
                        tipe_kategori: inovasi
                      -
                        nama_kategori: Pendidikan
                        slug_kategori: pendidikan
                        tipe_kategori: riset
                    items:
                      type: object
                      properties:
                        nama_kategori:
                          type: string
                          example: Alat
                        slug_kategori:
                          type: string
                          example: alat
                        tipe_kategori:
                          type: string
                          example: inovasi
      tags:
        - Endpoints
      security: []
  '/api/kategoris/{tipe}':
    get:
      summary: ''
      operationId: getApiKategorisTipe
      description: ''
      parameters: []
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Tipe kategori tidak valid. Hanya diperbolehkan inovasi atau riset.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Tipe kategori tidak valid. Hanya diperbolehkan inovasi atau riset.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: tipe
        description: ''
        example: alat
        required: true
        schema:
          type: string
  /api/instansis:
    get:
      summary: ''
      operationId: getApiInstansis
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Daftar Instansi'
                  data:
                    -
                      nama_instansi: 'Badan Riset dan Inovasi Daerah NTB'
                      slug_instansi: badan-riset-dan-inovasi-daerah-ntb
                      alamat_instansi: 'Jalan Raya Zamia, No.2 Desa Lelede, Lombok Barat, Nusa Tenggara Barat'
                    -
                      nama_instansi: 'Badan Pengelolaan Pendapatan Daerah Provinsi NTB'
                      slug_instansi: badan-pengelolaan-pendapatan-daerah-provinsi-ntb
                      alamat_instansi: 'Jl. Majapahit No.17, Kekalik Jaya, Kec. Sekarbela, Kota Mataram, Nusa Tenggara Bar. 83115'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Daftar Instansi'
                  data:
                    type: array
                    example:
                      -
                        nama_instansi: 'Badan Riset dan Inovasi Daerah NTB'
                        slug_instansi: badan-riset-dan-inovasi-daerah-ntb
                        alamat_instansi: 'Jalan Raya Zamia, No.2 Desa Lelede, Lombok Barat, Nusa Tenggara Barat'
                      -
                        nama_instansi: 'Badan Pengelolaan Pendapatan Daerah Provinsi NTB'
                        slug_instansi: badan-pengelolaan-pendapatan-daerah-provinsi-ntb
                        alamat_instansi: 'Jl. Majapahit No.17, Kekalik Jaya, Kec. Sekarbela, Kota Mataram, Nusa Tenggara Bar. 83115'
                    items:
                      type: object
                      properties:
                        nama_instansi:
                          type: string
                          example: 'Badan Riset dan Inovasi Daerah NTB'
                        slug_instansi:
                          type: string
                          example: badan-riset-dan-inovasi-daerah-ntb
                        alamat_instansi:
                          type: string
                          example: 'Jalan Raya Zamia, No.2 Desa Lelede, Lombok Barat, Nusa Tenggara Barat'
      tags:
        - Endpoints
      security: []
  '/api/instansis/{slug}':
    get:
      summary: ''
      operationId: getApiInstansisSlug
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Detail Instansi'
                  data:
                    nama_instansi: 'Badan Riset dan Inovasi Daerah NTB'
                    slug_instansi: badan-riset-dan-inovasi-daerah-ntb
                    alamat_instansi: 'Jalan Raya Zamia, No.2 Desa Lelede, Lombok Barat, Nusa Tenggara Barat'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Detail Instansi'
                  data:
                    type: object
                    properties:
                      nama_instansi:
                        type: string
                        example: 'Badan Riset dan Inovasi Daerah NTB'
                      slug_instansi:
                        type: string
                        example: badan-riset-dan-inovasi-daerah-ntb
                      alamat_instansi:
                        type: string
                        example: 'Jalan Raya Zamia, No.2 Desa Lelede, Lombok Barat, Nusa Tenggara Barat'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the instansi.'
        example: badan-riset-dan-inovasi-daerah-ntb
        required: true
        schema:
          type: string
  /api/jenis-programs:
    get:
      summary: ''
      operationId: getApiJenisPrograms
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Daftar Program'
                  data:
                    -
                      nama_tipe: 'Innovative Government Award'
                      slug_tipe: innovative-government-award
                      deskripsi_tipe: 'Innovative Government Award (IGA) merupakan penghargaan tahunan dari Kemendagri kepada Pemerintah Daerah atas semangat dan keberhasilannya melakukan inovasi di bidang peningkatan layanan publik, tata kelola pemerintahan dan pembangunan.'
                    -
                      nama_tipe: 'Gelar Teknologi Tepat Guna'
                      slug_tipe: gelar-teknologi-tepat-guna
                      deskripsi_tipe: 'Gelar Teknologi Tepat Guna (TTG) adalah acara tahunan yang diselenggarakan untuk mempromosikan dan berbagi informasi terkait inovasi teknologi tepat guna dari seluruh provinsi di Indonesia'
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Daftar Program'
                  data:
                    type: array
                    example:
                      -
                        nama_tipe: 'Innovative Government Award'
                        slug_tipe: innovative-government-award
                        deskripsi_tipe: 'Innovative Government Award (IGA) merupakan penghargaan tahunan dari Kemendagri kepada Pemerintah Daerah atas semangat dan keberhasilannya melakukan inovasi di bidang peningkatan layanan publik, tata kelola pemerintahan dan pembangunan.'
                      -
                        nama_tipe: 'Gelar Teknologi Tepat Guna'
                        slug_tipe: gelar-teknologi-tepat-guna
                        deskripsi_tipe: 'Gelar Teknologi Tepat Guna (TTG) adalah acara tahunan yang diselenggarakan untuk mempromosikan dan berbagi informasi terkait inovasi teknologi tepat guna dari seluruh provinsi di Indonesia'
                    items:
                      type: object
                      properties:
                        nama_tipe:
                          type: string
                          example: 'Innovative Government Award'
                        slug_tipe:
                          type: string
                          example: innovative-government-award
                        deskripsi_tipe:
                          type: string
                          example: 'Innovative Government Award (IGA) merupakan penghargaan tahunan dari Kemendagri kepada Pemerintah Daerah atas semangat dan keberhasilannya melakukan inovasi di bidang peningkatan layanan publik, tata kelola pemerintahan dan pembangunan.'
      tags:
        - Endpoints
      security: []
  /api/eduwisatas:
    get:
      summary: ''
      operationId: getApiEduwisatas
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
  /api/eduwisatas/daerah-eduwisata:
    get:
      summary: ''
      operationId: getApiEduwisatasDaerahEduwisata
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    -
                      value: kota_mataram
                      label: 'Kota Mataram'
                    -
                      value: kab_lombok_barat
                      label: 'Kabupaten Lombok Barat'
                    -
                      value: kab_lombok_timur
                      label: 'Kabupaten Lombok Timur'
                    -
                      value: kab_lombok_utara
                      label: 'Kabupaten Lombok Utara'
                    -
                      value: kab_lombok_tengah
                      label: 'Kabupaten Lombok Tengah'
                    -
                      value: kab_sumbawa
                      label: 'Kabupaten Sumbawa'
                    -
                      value: kab_sumbawa_barat
                      label: 'Kabupaten Sumbawa Barat'
                    -
                      value: kab_bima
                      label: 'Kabupaten Bima'
                    -
                      value: kota_bima
                      label: 'Kota Bima'
                    -
                      value: kab_dompu
                      label: 'Kabupaten Dompu'
                    -
                      value: aceh
                      label: Aceh
                    -
                      value: bali
                      label: Bali
                    -
                      value: banten
                      label: Banten
                    -
                      value: bengkulu
                      label: Bengkulu
                    -
                      value: yogyakarta
                      label: 'Daerah Istimewa Yogyakarta'
                    -
                      value: jakarta
                      label: 'Daerah Khusus Ibukota Jakarta'
                    -
                      value: gorontalo
                      label: Gorontalo
                    -
                      value: jambi
                      label: Jambi
                    -
                      value: jawa_barat
                      label: 'Jawa Barat'
                    -
                      value: jawa_tengah
                      label: 'Jawa Tengah'
                    -
                      value: jawa_timur
                      label: 'Jawa Timur'
                    -
                      value: kalimantan_barat
                      label: 'Kalimantan Barat'
                    -
                      value: kalimantan_selatan
                      label: 'Kalimantan Selatan'
                    -
                      value: kalimantan_tengah
                      label: 'Kalimantan Tengah'
                    -
                      value: kalimantan_timur
                      label: 'Kalimantan Timur'
                    -
                      value: kalimantan_utara
                      label: 'Kalimantan Utara'
                    -
                      value: bangka_belitung
                      label: 'Kepulauan Bangka Belitung'
                    -
                      value: riau
                      label: Riau
                    -
                      value: lampung
                      label: Lampung
                    -
                      value: maluku
                      label: Maluku
                    -
                      value: maluku_utara
                      label: 'Maluku Utara'
                    -
                      value: ntt
                      label: 'Nusa Tenggara Timur'
                    -
                      value: papua
                      label: Papua
                    -
                      value: papua_barat
                      label: 'Papua Barat'
                    -
                      value: papua_barat_daya
                      label: 'Papua Barat Daya'
                    -
                      value: papua_pegunungan
                      label: 'Papua Pegunungan'
                    -
                      value: papua_selatan
                      label: 'Papua Selatan'
                    -
                      value: papua_tengah
                      label: 'Papua Tengah'
                    -
                      value: sulawesi_barat
                      label: 'Sulawesi Barat'
                    -
                      value: sulawesi_selatan
                      label: 'Sulawesi Selatan'
                    -
                      value: sulawesi_tengah
                      label: 'Sulawesi Tengah'
                    -
                      value: sulawesi_tenggara
                      label: 'Sulawesi Tenggara'
                    -
                      value: sulawesi_utara
                      label: 'Sulawesi Utara'
                    -
                      value: sumatera_barat
                      label: 'Sumatera Barat'
                    -
                      value: sumatera_selatan
                      label: 'Sumatera Selatan'
                    -
                      value: sumatera_utara
                      label: 'Sumatera Utara'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    example:
                      -
                        value: kota_mataram
                        label: 'Kota Mataram'
                      -
                        value: kab_lombok_barat
                        label: 'Kabupaten Lombok Barat'
                      -
                        value: kab_lombok_timur
                        label: 'Kabupaten Lombok Timur'
                      -
                        value: kab_lombok_utara
                        label: 'Kabupaten Lombok Utara'
                      -
                        value: kab_lombok_tengah
                        label: 'Kabupaten Lombok Tengah'
                      -
                        value: kab_sumbawa
                        label: 'Kabupaten Sumbawa'
                      -
                        value: kab_sumbawa_barat
                        label: 'Kabupaten Sumbawa Barat'
                      -
                        value: kab_bima
                        label: 'Kabupaten Bima'
                      -
                        value: kota_bima
                        label: 'Kota Bima'
                      -
                        value: kab_dompu
                        label: 'Kabupaten Dompu'
                      -
                        value: aceh
                        label: Aceh
                      -
                        value: bali
                        label: Bali
                      -
                        value: banten
                        label: Banten
                      -
                        value: bengkulu
                        label: Bengkulu
                      -
                        value: yogyakarta
                        label: 'Daerah Istimewa Yogyakarta'
                      -
                        value: jakarta
                        label: 'Daerah Khusus Ibukota Jakarta'
                      -
                        value: gorontalo
                        label: Gorontalo
                      -
                        value: jambi
                        label: Jambi
                      -
                        value: jawa_barat
                        label: 'Jawa Barat'
                      -
                        value: jawa_tengah
                        label: 'Jawa Tengah'
                      -
                        value: jawa_timur
                        label: 'Jawa Timur'
                      -
                        value: kalimantan_barat
                        label: 'Kalimantan Barat'
                      -
                        value: kalimantan_selatan
                        label: 'Kalimantan Selatan'
                      -
                        value: kalimantan_tengah
                        label: 'Kalimantan Tengah'
                      -
                        value: kalimantan_timur
                        label: 'Kalimantan Timur'
                      -
                        value: kalimantan_utara
                        label: 'Kalimantan Utara'
                      -
                        value: bangka_belitung
                        label: 'Kepulauan Bangka Belitung'
                      -
                        value: riau
                        label: Riau
                      -
                        value: lampung
                        label: Lampung
                      -
                        value: maluku
                        label: Maluku
                      -
                        value: maluku_utara
                        label: 'Maluku Utara'
                      -
                        value: ntt
                        label: 'Nusa Tenggara Timur'
                      -
                        value: papua
                        label: Papua
                      -
                        value: papua_barat
                        label: 'Papua Barat'
                      -
                        value: papua_barat_daya
                        label: 'Papua Barat Daya'
                      -
                        value: papua_pegunungan
                        label: 'Papua Pegunungan'
                      -
                        value: papua_selatan
                        label: 'Papua Selatan'
                      -
                        value: papua_tengah
                        label: 'Papua Tengah'
                      -
                        value: sulawesi_barat
                        label: 'Sulawesi Barat'
                      -
                        value: sulawesi_selatan
                        label: 'Sulawesi Selatan'
                      -
                        value: sulawesi_tengah
                        label: 'Sulawesi Tengah'
                      -
                        value: sulawesi_tenggara
                        label: 'Sulawesi Tenggara'
                      -
                        value: sulawesi_utara
                        label: 'Sulawesi Utara'
                      -
                        value: sumatera_barat
                        label: 'Sumatera Barat'
                      -
                        value: sumatera_selatan
                        label: 'Sumatera Selatan'
                      -
                        value: sumatera_utara
                        label: 'Sumatera Utara'
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          example: kota_mataram
                        label:
                          type: string
                          example: 'Kota Mataram'
      tags:
        - Endpoints
      security: []
  /api/eduwisatas/asal-lembaga:
    get:
      summary: ''
      operationId: getApiEduwisatasAsalLembaga
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
  '/api/eduwisatas/asal-lembaga/{label}':
    get:
      summary: ''
      operationId: getApiEduwisatasAsalLembagaLabel
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Asal lembaga tidak valid'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Asal lembaga tidak valid'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: label
        description: ''
        example: enim
        required: true
        schema:
          type: string
  /api/eduwisatas/daerah-lembaga:
    get:
      summary: ''
      operationId: getApiEduwisatasDaerahLembaga
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - Endpoints
      security: []
  '/api/eduwisatas/daerah-lembaga/{label}':
    get:
      summary: ''
      operationId: getApiEduwisatasDaerahLembagaLabel
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Daerah lembaga tidak valid'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Daerah lembaga tidak valid'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: label
        description: ''
        example: aliquid
        required: true
        schema:
          type: string
  /api/inovasis:
    get:
      summary: ''
      operationId: getApiInovasis
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Daftar Inovasi'
                  data: []
                  meta:
                    current_page: 1
                    per_page: 10
                    total: 0
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Daftar Inovasi'
                  data:
                    type: array
                    example: []
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 0
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Endpoints
      security: []
  '/api/inovasis/{slug}':
    get:
      summary: ''
      operationId: getApiInovasisSlug
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'Inovasi tidak ditemukan.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Inovasi tidak ditemukan.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the inovasi.'
        example: odio
        required: true
        schema:
          type: string
  /api/daerah-inovasi:
    get:
      summary: ''
      operationId: getApiDaerahInovasi
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    -
                      value: kota_mataram
                      label: 'Kota Mataram'
                    -
                      value: kab_lombok_barat
                      label: 'Kabupaten Lombok Barat'
                    -
                      value: kab_lombok_timur
                      label: 'Kabupaten Lombok Timur'
                    -
                      value: kab_lombok_utara
                      label: 'Kabupaten Lombok Utara'
                    -
                      value: kab_lombok_tengah
                      label: 'Kabupaten Lombok Tengah'
                    -
                      value: kab_sumbawa
                      label: 'Kabupaten Sumbawa'
                    -
                      value: kab_sumbawa_barat
                      label: 'Kabupaten Sumbawa Barat'
                    -
                      value: kab_bima
                      label: 'Kabupaten Bima'
                    -
                      value: kota_bima
                      label: 'Kota Bima'
                    -
                      value: kab_dompu
                      label: 'Kabupaten Dompu'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    example:
                      -
                        value: kota_mataram
                        label: 'Kota Mataram'
                      -
                        value: kab_lombok_barat
                        label: 'Kabupaten Lombok Barat'
                      -
                        value: kab_lombok_timur
                        label: 'Kabupaten Lombok Timur'
                      -
                        value: kab_lombok_utara
                        label: 'Kabupaten Lombok Utara'
                      -
                        value: kab_lombok_tengah
                        label: 'Kabupaten Lombok Tengah'
                      -
                        value: kab_sumbawa
                        label: 'Kabupaten Sumbawa'
                      -
                        value: kab_sumbawa_barat
                        label: 'Kabupaten Sumbawa Barat'
                      -
                        value: kab_bima
                        label: 'Kabupaten Bima'
                      -
                        value: kota_bima
                        label: 'Kota Bima'
                      -
                        value: kab_dompu
                        label: 'Kabupaten Dompu'
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          example: kota_mataram
                        label:
                          type: string
                          example: 'Kota Mataram'
      tags:
        - Endpoints
      security: []
  /api/risets:
    get:
      summary: ''
      operationId: getApiRisets
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  message: 'Daftar Riset'
                  data: []
                  meta:
                    current_page: 1
                    per_page: 10
                    total: 0
                    last_page: 1
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Daftar Riset'
                  data:
                    type: array
                    example: []
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 0
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Endpoints
      security: []
  '/api/risets/{slug}':
    get:
      summary: ''
      operationId: getApiRisetsSlug
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: false
                  message: 'riset tidak ditemukan.'
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'riset tidak ditemukan.'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: slug
        description: 'The slug of the riset.'
        example: enim
        required: true
        schema:
          type: string
  /api/daerah-riset:
    get:
      summary: ''
      operationId: getApiDaerahRiset
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  data:
                    -
                      value: kota_mataram
                      label: 'Kota Mataram'
                    -
                      value: kab_lombok_barat
                      label: 'Kabupaten Lombok Barat'
                    -
                      value: kab_lombok_timur
                      label: 'Kabupaten Lombok Timur'
                    -
                      value: kab_lombok_utara
                      label: 'Kabupaten Lombok Utara'
                    -
                      value: kab_lombok_tengah
                      label: 'Kabupaten Lombok Tengah'
                    -
                      value: kab_sumbawa
                      label: 'Kabupaten Sumbawa'
                    -
                      value: kab_sumbawa_barat
                      label: 'Kabupaten Sumbawa Barat'
                    -
                      value: kab_bima
                      label: 'Kabupaten Bima'
                    -
                      value: kota_bima
                      label: 'Kota Bima'
                    -
                      value: kab_dompu
                      label: 'Kabupaten Dompu'
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    example:
                      -
                        value: kota_mataram
                        label: 'Kota Mataram'
                      -
                        value: kab_lombok_barat
                        label: 'Kabupaten Lombok Barat'
                      -
                        value: kab_lombok_timur
                        label: 'Kabupaten Lombok Timur'
                      -
                        value: kab_lombok_utara
                        label: 'Kabupaten Lombok Utara'
                      -
                        value: kab_lombok_tengah
                        label: 'Kabupaten Lombok Tengah'
                      -
                        value: kab_sumbawa
                        label: 'Kabupaten Sumbawa'
                      -
                        value: kab_sumbawa_barat
                        label: 'Kabupaten Sumbawa Barat'
                      -
                        value: kab_bima
                        label: 'Kabupaten Bima'
                      -
                        value: kota_bima
                        label: 'Kota Bima'
                      -
                        value: kab_dompu
                        label: 'Kabupaten Dompu'
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          example: kota_mataram
                        label:
                          type: string
                          example: 'Kota Mataram'
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
